input[type=text], select, input[type=password] {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
	margin: auto;
	width:50%;
	max-width:400px;
	min-width:200px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

body {
  background-color: #FFF;
  color: #555;
  margin: 0px;
}

h2 {
  margin-top:0;
}

.header {
  line-height:80px;
  height:80px;
  background-color: #1AC;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.form {
	margin: auto;
	width: 70%;
}

.corps {
  width:70%;
  min-width: 300px;
  min-height: 800px;
  background-color: #CCE8FF;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  
}

h2  {
  text-align: center;
}

.cellule1 {
  line-height:300px;
  text-align:center;
  min-width: 300px;
  width: 40%;
  height: 300px;
  background-color: #DBEFFF;
  margin-left: auto;
  margin-top: 45px;
}

.cellule2 {
  line-height:300px;
  text-align:center;
  width: 40%;
  min-width: 300px;
  height: 300px;
  background-color: #DBEFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.cellule3 {
  width: 80%;
  height: 100px;
  background-color: #6CF;
  margin: auto;
  margin-top: 5px;
}

label
{
	display: block;
}


.menu {
  background-color: #FFC271;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left:-300px;
  border-radius: 10px 10px 0px 0px;
}

.menu ul {
  list-style: none;
  width: auto;
  margin: auto;
  margin-left: -40px;
  text-align: center;
  background-color: #FFC271;

}

.menuleft {
  border-radius: 5px 0px 0px 0px;
}

.menuright {
  border-radius: 0px 5px 0px 0px;
}

.menu li {
  float: left;
  width: 150px;
  height: auto;
  line-height: 30px;
}


.menu li a {
  display: block;
  margin: 0;
  background-color: #24565C;
  color: #FFF;
  text-decoration: none;
  font-size: 1.2em;

}

.menu a:hover {
  background-color: #138C99;
}

.menu li a.active {

}
