body {
  background-color: #FFF;
  color: #555;
  margin: 0px;
}

h2 {
  margin-top:0;
}

.header {
  line-height:80px;
  height:80px;
  background-color: #1AC;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.corps {
  width:70%;
  min-width: 300px;
  min-height: 800px;
  background-color: #CCE8FF;
  margin: 0 auto;
  padding: 1px;
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  
}

h2  {
  text-align: center;
}

.cellule1 {
  line-height:300px;
  text-align:center;
  min-width: 300px;
  width: 40%;
  height: 300px;
  background-color: #DBEFFF;
  margin-left: auto;
  margin-top: 45px;
}

.cellule2 {
  line-height:300px;
  text-align:center;
  width: 40%;
  min-width: 300px;
  height: 300px;
  background-color: #DBEFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}
.cellule3 {
  width: 80%;
  height: 100px;
  background-color: #6CF;
  margin: auto;
  margin-top: 5px;
}

label
{
	display: block;
}


.menu {
  background-color: #FFC271;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left:-300px;
  border-radius: 10px 10px 0px 0px;
}

.menu ul {
  list-style: none;
  width: auto;
  margin: auto;
  margin-left: -40px;
  text-align: center;
  background-color: #FFC271;

}

.menuleft {
  border-radius: 5px 0px 0px 0px;
}

.menuright {
  border-radius: 0px 5px 0px 0px;
}

.menu li {
  float: left;
  width: 150px;
  height: auto;
  line-height: 30px;
}


.menu li a {
  display: block;
  margin: 0;
  background-color: #24565C;
  color: #FFF;
  text-decoration: none;
  font-size: 1.2em;

}

.menu a:hover {
  background-color: #138C99;
}

.menu li a.active {

}
