<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ppefredi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>fr.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>fr.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
  
    <servlet-name>ConnexionMembre</servlet-name>
    <servlet-class>fr.servlets.ConnexionMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionMembre</servlet-name>
    <url-pattern>/ConnexionMembre</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ConnexionAdmin</servlet-name>
    <servlet-class>fr.servlets.ConnexionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexionAdmin</servlet-name>
    <url-pattern>/ConnexionAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>inscription</display-name>
    <servlet-name>inscription</servlet-name>
    <servlet-class>fr.servlets.inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>traitementinscription</display-name>
    <servlet-name>traitementinscription</servlet-name>
    <servlet-class>fr.servlets.traitementinscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>traitementinscription</servlet-name>
    <url-pattern>/traitement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EspaceAdmin</display-name>
    <servlet-name>EspaceAdmin</servlet-name>
    <servlet-class>fr.servlets.EspaceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceAdmin</servlet-name>
    <url-pattern>/EspaceAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EspaceMembre</display-name>
    <servlet-name>EspaceMembre</servlet-name>
    <servlet-class>fr.servlets.EspaceMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceMembre</servlet-name>
    <url-pattern>/EspaceMembre</url-pattern>
  </servlet-mapping>
</web-app>