<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ppefredi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<session-config>
	    <session-timeout>1</session-timeout>
	</session-config>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>fr.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnexionMembre</servlet-name>
    <servlet-class>fr.servlets.ConnexionMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionMembre</servlet-name>
    <url-pattern>/ConnexionMembre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnexionAdmin</servlet-name>
    <servlet-class>fr.servlets.ConnexionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionAdmin</servlet-name>
    <url-pattern>/ConnexionAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EspaceAdmin</display-name>
    <servlet-name>EspaceAdmin</servlet-name>
    <servlet-class>fr.servlets.EspaceAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceAdmin</servlet-name>
    <url-pattern>/EspaceAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EspaceMembre</display-name>
    <servlet-name>EspaceMembre</servlet-name>
    <servlet-class>fr.servlets.EspaceMembre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceMembre</servlet-name>
    <url-pattern>/espacemembre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>fr.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>fr.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Frais</display-name>
    <servlet-name>Frais</servlet-name>
    <servlet-class>fr.servlets.Frais</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Frais</servlet-name>
    <url-pattern>/frais</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerFrais</display-name>
    <servlet-name>SupprimerFrais</servlet-name>
    <servlet-class>fr.servlets.SupprimerFrais</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerFrais</servlet-name>
    <url-pattern>/supprimerfrais</url-pattern>
  </servlet-mapping>
   <filter>
    <display-name>RestrictionFilter</display-name>
    <filter-name>RestrictionFilter</filter-name>
    <filter-class>fr.filtres.RestrictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>